<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">
            List of Users
        </h1>
        <table>
            <tr>
              <th>Id</th>
              <th>Full Name</th>
              <th>email</th>
              <th>created at</th>
              <th>Actions</th>
            </tr>
        {%for i in all_users%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.first_name}} {{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.created_at}}</td>
                <td><a href="{{'/show/%s'%i.id }}">Show</a>|<a href="{{'/edit/%s'%i.id }}">Edit</a>|<a href="{{'/delete/%s'%i.id }}">Delete</a></td>
          </tr>        
        {% endfor %}
        </table>
    <a href="/new/users"> Crear Nuevo Usuario</a>
    </div>
</body>
</html>